[Unit]
Description="EzeWorks website"

[Install]
WantedBy=default.target


[Service]
Type=exec
ExecStart=%h/deploy/eze_works/bin/eze_works start
StandardOutput=journal
