[Unit]
Description="EzeWorks website"

[Install]
WantedBy=default.target


[Service]
Type=exec
ExecStart=%h/source/eze.works/_build/prod/rel/eze_works/bin/eze_works start
StandardOutput=journal
