[Unit]
Description="EzeWorks website"

[Install]
WantedBy=default.target


[Service]
Type=exec
WorkingDirectory=%h/deploy/ezeweb
Environment="RUST_LOG=trace"

ExecStart=%h/deploy/ezeweb/ezeweb
StandardOutput=journal
