/**
 * Grayscale because I am not artistically talented
 */
:root {
    --color-black: #000000;
    --color-almost-black: #111111;
    --color-tinted-black: #222222;
    --color-light-black: #333333;
    --color-pale-black: #444444;
    --color-dark-gray: #555555;
    --color-shaded-gray: #666666;
    --color-medium-gray: #777777;
    --color-tinted-gray: #888888;
    --color-light-gray: #999999;
    --color-pale-gray: #aaaaaa;
    --color-silver: #bbbbbb;
    --color-dark-white: #cccccc;
    --color-shaded-white: #dddddd;
    --color-almost-white: #efefef;
    --color-white: #ffffff;

    --color-yellow: #f9ed69;
    --color-orange: #f08a5d;
    --color-red: #b83b5e;
    --color-purple: #6a2c70;
}

body {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: var(--color-tinted-black);
    color: var(--color-almost-white);
}

#logo {
    padding: 0 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-variant-caps: all-small-caps;
    font-family: "IBM Plex Mono", monospace;

    a {
        display: inline-block;
        text-decoration: none;
        padding: 0 1rem 0.3rem 1rem;
        color: var(--color-almost-white);
        background-color: var(--color-light-black);
        transition:
          color 0.2s,
          background-color 0.2s;

        &:hover {
          background-color: var(--color-almost-white);
          color: var(--color-light-black);
        }
    }
}

footer {
    max-inline-size: 60rem;
    margin-inline: auto;
    padding: 1rem 1rem;
}

a {
    text-decoration: underline;
    color: #8cb4ff;
    &:visited {
      color: #ffadff;
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block: 1rem;
    font-weight: 400;
}

#main-content {
    min-height: 90vh;
}

/**
 * Re-usable classes
 */

.center {
    max-inline-size: 60rem;
    margin-inline: auto;
}

/**
 * 404 PAGE
 */
.not-found {
    padding: 4rem 0;
    text-align: center;
}

/**
 * HOME PAGE
 */

.featured-quote {
    font-size: 0.8rem;
    font-style: italic;
    padding: 1rem;
    max-inline-size: 80rem;
    margin-inline: auto;
    text-align: right;
}

.post-list {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.post-card {
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    .post-card-title {
        &:hover {
            cursor: pointer;
        }
    }

    .post-card-date {
        font-family: "IBM Plex Mono", monospace;
        font-style: italic;
        font-size: 0.9rem;
    }
}

@media (width <= 600px) {
    .post-list {
        gap: 1.5rem;
    }

    .post-card {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }
}

.post-label {
    text-decoration: none;

    &::before {
        content: "#";
    }
}

/**
 * SINGLE POST PAGE
 */

.post-container {
    padding: 0rem 2rem;
}

.post-meta {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 1rem 0;
}

.post-content {
    padding: 1rem 0;

    & > p + p {
        margin-block-start: 0.8rem;
    }

    img {
        margin-block: 0.75rem;
    }

    blockquote {
        margin: 1rem 0.5rem;
        padding: 0.5rem 1rem;
        background-color: var(--color-light-black);

        &.markdown-alert-note {
            margin: 1rem 0;
            border-left: 5px solid var(--color-orange);
        }
    }

    details {
      font-size: 0.9rem;
      margin: 0.75rem 1rem;
      padding: 0.75rem; 
      border-left: 2px solid var(--color-silver);

      summary {
        font-weight: 700;
      }
      summary:hover {
        cursor: pointer;
      }
    }

    pre,
    code {
        font-family: "IBM Plex Mono", monospace;
        font-size: 0.9rem;
    }

    :not(pre) > code {
        font-size: 0.8em;
        padding: 0 0.3rem 0.1rem 0.3rem;
        font-weight: 700;
        border: 1px solid var(--color-silver);
        border-radius: 3px;
    }

    pre:has(> code) {
        position: relative;
        overflow: scroll;
        padding: 0.5rem 0;
        margin-block: 0.75rem;

        &::before {
            content: attr(data-lang);
            display: block;
            font-size: 0.8rem;
            position: absolute;
            right: 0.75rem;
            top: 0.75rem;
            text-transform: uppercase;
            color: var(--color-silver);
        }
        code {
            border: 1px solid var(--color-almost-black);
            border-radius: 3px;
        }
    }

    ul,
    ol {
        padding-inline-start: 2rem;
        margin-block-end: 0.8rem;
    }

    ol {
        list-style: decimal;
    }

    ul {
        list-style: disc;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      a {
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        text-decoration: underline;
        text-underline-offset: 8px;
      }
    }


    .footnote-ref {
      font-size: 1rem;
      vertical-align: super
    }
    .footnotes {
        margin-block-start: 2rem;
        font-size: 0.9rem;
        line-height: 1.25;
        ol {
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
        }
    }
}
